<% provide(:title,"管理者情報編集") %>
<%= form_with(model: @user,id: :user_id, local: true) do |f| %>
  <h1>管理者情報編集</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= f.label :name,class: "label-edit--user" %>
      <%= f.hidden_field :name, class: "form-cotrol" %>
      <%= f.text_field :name,class:"form-control" %>
                            
      <%= f.label :email,class: "label-edit--user" %>
      <%= f.hidden_field :email, :value => @user.email,class: "form-cotrol" %>
      <%= f.email_field :email,class:"form-control" %>
                          
      <%= f.label :affiliation,class: "label-edit--user" %>
      <%= f.hidden_field :affiliation, :value => @user.affiliation,class: "form-cotrol" %>
      <%= f.text_field :affiliation,class:"form-control" %>
                          
      <%= f.label :uid,class: "label-edit--user" %>
      <%= f.hidden_field :uid, :value => @user.uid,class: "form-cotrol" %>
      <%= f.text_field :uid,class:"form-control" %>
                            
      <%= f.label :password,class: "label-edit--user" %>
      <%= f.hidden_field :password, :value => @user.password,class: "form-cotrol" %>
      <%= f.password_field :password,class:"form-control" %>
                          
      <%= f.label :basic_work_time,class: "label-edit--user" %>
      <%= f.hidden_field :basic_work_time, :value => @user.basic_work_time,class: "form-cotrol" %>
      <%= f.time_field :basic_work_time,class:"form-control" %>
                            
      <%= f.label :designated_work_start_time,class: "label-edit--user" %>
      <%= f.hidden_field :designated_work_start_time, :value => @user.designated_work_start_time,class: "form-cotrol" %>
      <%= f.time_field :designated_work_start_time,class:"form-control" %>
                            
      <%= f.label :designated_work_end_time,class: "label-edit--user" %>
      <%= f.hidden_field :designated_work_end_time, :value => @user.designated_work_end_time,class: "form-cotrol" %>
      <%= f.time_field :designated_work_end_time,class:"form-control" %>
                            
      <%= f.submit "編集",class:"btn btn-primary btn-block btn-edit--user" %>
    </div>
  </div>
<% end %>