<% provide(:title,"ユーザー一覧") %>
<h1>ユーザー一覧</h1>

<div class="col-md-10 col-md-offset-1">
  
  <div class="csv_zone">
    <%= form_tag import_users_path, multipart: true do %>
      <%= file_field_tag :file , class: "form-csv"%>
      <%= submit_tag "CSVファイルをインポート",class: "btn btn-primary btn-csv" %>
    <% end %>  
  </div>
  
  <% @users.each do |user| %>
    <table class="table table-condensed table-striped" id="users-table">
      <thead>
    
        <td><%= user.name %></td>
        
      </thead>
      
      <thead>
        <td>
          <%= link_to "削除",user, method: :delete, 
            data:{confirm: "削除してもよろしいですか？"}, class: "btn btn-primary" %>
        </td>
      </thead>
      
      <tbody>
        <td><%= link_to "編集", "#",  class: "btn btn-primary btn-lg" %></th>
      </tbody>
    </table>
  <% end %>
</div>